.qwe{
      float: left;
background-color:white;
}
.yyy{
    float: right;
    width: 70px;
    height: 25px;
    margin: 10px;
    border: 1px solid black; 
}
.qwer{
    float: left;
background-color:white;
}
.yyyy{
  float: right;
  width: 70px;
  height: 25px;
  margin: 10px;
  border: 1px solid black; 
}

.aaaa{
    margin-top: 10% ;
    width: 95%;
    height: 70px;
    margin: 20px;
    border: 1px solid black;

  
}
.aaa{
   
    width: 95%;
    height: 70px;
    margin: 20px;
    border: 1px solid black;


}